<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <mat-cell class="name" *matCellDef="let item">{{ item.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="duration">
    <mat-cell class="duration" *matCellDef="let item"
      >{{ item.duration | number: "1.0-2" }}s</mat-cell
    >
  </ng-container>
  <ng-container matColumnDef="calories">
    <mat-cell class="calories" *matCellDef="let item"
      >{{ item.calories | number: "1.0-2" }} kcal</mat-cell
    >
  </ng-container>
  <ng-container matColumnDef="state">
    <mat-cell
      *matCellDef="let item"
      [ngClass]="{
        completed: item.state == 'completed',
        cancelled: item.state == 'cancelled'
      }"
      >{{ item.state }}</mat-cell
    >
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-cell class="date" *matCellDef="let item">{{
      item?.date.toDate() | date: "EEE, MMM dd   hh:mm aa"
    }}</mat-cell>
  </ng-container>

  <mat-row
    class="row"
    *matRowDef="let row; columns: displayedColumns"
  ></mat-row>
</mat-table>
