.name{
font-weight: 500;
color: #303030;
grid-area: name;
padding: 0;
width: 100%;
}


.duration{
 // color: grey;
  grid-area: duration;
  width: 100%;
}

.calories{
  //color: grey;
  grid-area: calories;
  width: 100%;
 // font-weight: 500;
}

.date{
  color: grey;
  font-size: small;
  grid-area: date;
  width: 100%;
}



.row{
  width: 80%;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-areas:
  'name name name name . .'
  'duration calories status . . .'
  'date date date date . .';
}

.completed{
  color:green;
  grid-area: status;
  width: 100%;
//  font-weight: 500;
}

.cancelled{
 // color:gray;
  grid-area: status;
  width: 100%;
 // font-weight: 500;
}
